body{
    background-color: #E0F1F0;
}

header{
	background-color: #03897b;
	margin: 0;
	padding: 1em 0 5em 3em;
	color: white;
}

form {
	margin-top: -5em;
	background-color: white;
	padding: 3em;
	margin-bottom: 2em;
}


.upload-image {
	vertical-align: middle;
	margin-left: 3em;
	margin-top: 2em;
}


.h-type-label {

 margin-left: 0.5em;
 margin-bottom: 0.5em;

}

.info-label {
 font-style: italic;
}

.row-field {
	margin-top: 1.5em;
}

section {
	margin-bottom: 3em;
}

button {
	margin-right: 1em;
}

.collapsible-body p {
	padding: initial;
}

.collapsible-header {
	line-height: initial;
	padding: initial;
	border: initial;
}

.collapsible-body {
	border: initial;
}

.collapsible {
	border: initial;
	box-shadow: initial;
}	