<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>WolfBeacon</title>

	<!-- Jquery-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	
	<!--Angular-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>
	<script defer src="app/angular-local-storage.js"></script>

	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script defer type="text/javascript" src="js/jquery.materialize-autocomplete.min.js"></script>
	
	<!-- Clockpicker -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/jquery-clockpicker.css">
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/jquery-clockpicker.js"></script>
	
	<!-- Other CSS -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/imgur.css">
	<link rel="stylesheet" href="css/build.css">

	<!--imgur -->
	<script defer type="text/javascript" src="js/imgur.min.js"></script>
	<script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaNRkaMJ0gY7fCPgjsaX0Fr2FuzwJJRnY&libraries=places"></script>
	
	<script defer src="app/app.js"></script>
	
</head>


<body ng-app="SponsorForm">


    <header class="clearfix">
        <h2>WolfBeacon</h2>
    </header>


    <main ng-controller="FormController">
		<div class="container">
            <form novalidate class="simple-form" id="form">
				<section>
					<h4>Name of Hackathon <span class="red-text">*</span></h4>
					
					<div class="input-field">
						<label for="hack_name">Name</label>
						<input required class="validate" type="text" id="hack_name" ng-model="data.name"/>
					</div>
				</section>
				
				<section>
					<h4>Logo <span class="red-text">*</span></h4>
					<div class="dropzone" id="logo-upload">
						<img class ="upload-image" src="assets/image-add.png">
					</div>
				</section>
				
				<section>
					<h4>Type of Hackathon <span class="red-text">*</span></h4>

					<div class="input-field">
						<input type="checkbox" id="box1" class="filled-in" ng-model="data.type.University">
						<label for="box1" class="h-type-label">University</label>
					</div>
					<div class="input-field">
						<input type="checkbox" id="box3" class="filled-in" ng-model="data.type.HighSchool">
						<label for="box3" class="h-type-label">High School</label>
					</div>
					<div class="input-field">
						<input type="checkbox" id="box2" class="filled-in" ng-model="data.type.Company">
						<label for="box2" class="h-type-label">Company</label>
					</div>
					<div class="input-field">
						<input type="checkbox" id="box4" class="filled-in" ng-model="data.type.Other">
						<label for="box4" class="h-type-label">Other</label>
					</div>
                </section>

				<section>
					<h4>Date Range of Hackathon <span class="red-text">*</span></h4>

					<div class="row">
						<div class="col s6 input-field">
							<label for="start-date">Starts On</label>
							<input type="date" id="start-date" class="datepicker" name="start" ng-model="data.start_date" required />
						</div>
						<div class="col s6 input-field">
							<label for="end-date">Ends On</label>
							<input type="date" id="end-date" class="datepicker" name="end" ng-model="data.end_date" required />
						</div>
					</div>
				</section>

                <section id="timetables">
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Timetable</h4>
							<div class="collapsible-body">
								<label class="info-label blue-text">Events will be listed in chronological order</label>
								<div class="row">
									<p class="col s2">
										Date
									</p>
									<p class="col s2">
										From
									</p>
									<p class="col s2">
										To
									</p>
									<p class="col s6">
										Event
									</p>
								</div>
								<div class="row" ng-repeat="e in data.timetable | orderBy:from">
									<div class="col s2 input-field">
										<input type="date" class="datepicker" placeholder="Date" ng-model="e.date"/>
									</div>
									<div class="col s2 input-field clockpicker">
										<input type="text" ng-model="e.from" value="00:00" />
									</div>
									<div class="col s2 input-field clockpicker">
										<input type="text" ng-model="e.to" value="00:00" />
									</div>
									<div class="col s4 input-field">
										<input type="text" ng-model="e.description" placeholder="Event"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowTimetable($index)" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowTimetable($index)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Tickets</h4>
							<div class="collapsible-body">
								<div class="row">
									<p class="col s2">
										Name
									</p>
								</div>
								<div class="row" ng-repeat="e in data.tickets">
									<div class="col s10 input-field">
										<input type="text" ng-model="e.name" placeholder="Ticket"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowTicket($index)" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowTicket($index)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>

				<section>
					<h4>Location <span class="red-text">*</span></h4>
					<div class="row">
						<div class="col s6 input-field autocomplete ac-input">
							<label for="location">Which city?</label>
							<input required class="validate" data-activates="firstDropdown" data-beloworigin="true" type="text" id="city" ng-model="data.city"/>
							<ul id="firstDropdown" class="dropdown-content ac-dropdown"></ul>
						</div>
						
						<div class="col s6 input-field autocomplete ac-input">
							<label for="location">Which address?</label>
							<input required class="validate" data-activates="secondDropdown" data-beloworigin="true" type="text" id="address" ng-model="data.address"/>
							<ul id="secondDropdown" class="dropdown-content ac-dropdown"></ul>
						</div>
					</div>
					
				</section>
				
				<section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Venue Floor Plan</h4>
							
							<div class="collapsible-body">
								<label class="info-label blue-text">Tip: Highlight hacker spaces</label>
								<div class="dropzone" id="venue-upload">
									<img class="upload-image" src="assets/image-add.png">
								</div>
								
								
								<div class="row">
									<p class="col s5">
										URL
									</p>
								</div>
								<div class="row" ng-repeat="e in data.floorplan">
									<div class="col s10 input-field">
										<p ng-bind="e"></p>
									</div>
									<div class="col s2 row-field">
										<input class="no-row" type="image" ng-click="removeRowFloor($index)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>

				<section>
					<h4>Size of Hackathon <span class="red-text">*</span></h4>
					<div class="input-field">
						<label for="size">How many hackers can you accommodate?</label>
						<input required type="number" class="validate" step="1" min="1" id="size" ng-model="data.size" />
					</div>
				</section>
				
				<section>
					<h4>Description <span class="red-text">*</span></h4>
					<div class="input-field">
						<label for="description">Add a short description of your hackathon (e.g. your slogan)</label>
						<input required class="validate" type="text" id="description" ng-model="data.desc"/>
					</div>
				</section>
				
				<section>
					<h4>Do you offer travel reimbursements? <span class="red-text">*</span></h4>
					<div class="input-field">
						<input class="with-gap" name="yes" id="yes" type="radio" ng-value="true" ng-model="data.travel" />
						<label for="yes">Yes</label>
					</div>
					<div class="input-field">
						<input class="with-gap" name="no" id="no" type="radio" ng-value="false" ng-model="data.travel" />
						<label for="no">No</label>
					</div>
				</section>
				
				<!-- Hyperlinks -->
				<section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Hyperlinks</h4>
							<div class="collapsible-body">
								<div class="input-field">
									<input id="website" required class="validate" type="text" ng-model="data.links.website" />
									<label for="website">Website <span class="red-text">*</span></label>
								</div>
								<div class="input-field">
									<input id="facebook" type="text" ng-model="data.links.facebook" />
									<label for="facebook">Facebook</label>
								</div>
								<div class="input-field">
									<input id="twitter" type="text" ng-model="data.links.twitter" />
									<label for="twitter">Twitter</label>
								</div>
								<div class="input-field">
									<input id="slack" type="text" ng-model="data.links.slack" />
									<label for="slack">Slack</label>
								</div>
								<div class="input-field">
									<input id="medium" type="text" ng-model="data.links.medium" />
									<label for="medium">Medium</label>
								</div>
								<div class="input-field">
									<input id="snapchat" type="text" ng-model="data.links.snapchat" />
									<label for="snapchat">Snapchat</label>
								</div>
								<div class="input-field">
									<input id="devpost" type="text" ng-model="data.links.devpost" />
									<label for="devpost">Devpost</label>
								</div>
								<div class="input-field">
									<input id="other" type="text" ng-model="data.links.other" />
									<label for="other">Other</label>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<!-- Sponsors -->
                <section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Sponsors</h4>
							<div class="collapsible-body">
								<label class="info-label blue-text">Sponsors will be listed in rank order</label>
								<div class="row">
									<p class="col s3">
										Rank
									</p>
									<p class="col s9">
										Organization
									</p>
								</div>
								<div class="row" ng-repeat="e in data.sponsors | orderBy:rank">
									<div class="col s3 input-field">
										<input type="number" class="validate" step="1" min="1" ng-model="e.rank" placeholder="Rank"/>
									</div>
									<div class="col s7 input-field">
										<input type="text" ng-model="e.organization" placeholder="Organization"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowSponsor($index)" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowSponsor($index)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<!-- Judges -->
                <section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Judges</h4>
							<div class="collapsible-body">
								<label class="info-label blue-text">Judges will be listed in alphabetical order</label>
								<div class="row">
									<p class="col s5">
										Name
									</p>
									<p class="col s7">
										Title
									</p>
								</div>
								<div class="row" ng-repeat="e in data.judges | orderBy:name">
									<div class="col s5 input-field">
										<input type="text" ng-model="e.name" placeholder="Full Name"/>
									</div>
									<div class="col s5 input-field">
										<input type="text" ng-model="e.title" placeholder="Title of Judge"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowJudge($index)" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowJudge($index)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<!-- Prizes -->
                <section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Prizes</h4>
							<div class="collapsible-body">
								<label class="info-label blue-text">Prizes will be listed in alphabetical order</label>
								<div class="row">
									<p class="col s3">
										Name
									</p>
									<p class="col s2">
										Sponsor
									</p>
									<p class="col s1">
										Winners
									</p>
									<p class="col s1">
										Value
									</p>
									<p class="col s5">
										Description
									</p>
								</div>
								<div class="row" ng-repeat="e in data.prizes | orderBy:name">
									<div class="col s3 input-field">
										<input type="text" ng-model="e.name" placeholder="Name"/>
									</div>
									<div class="col s2 input-field">
										<input type="text" ng-model="e.sponsor" ng-change="checkSponsor($index)" placeholder="Sponsor"/>
									</div>
									<div class="col s1 input-field">
										<input type="number" min="1" step="1" class="validate" ng-model="e.winners" placeholder="#"/>
									</div>
									<div class="col s1 input-field">
										<input type="number" min="0" step="1" class="validate" ng-model="e.value" placeholder="$"/>
									</div>
									<div class="col s3 input-field">
										<input type="text" ng-model="e.description" placeholder="Description"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowPrize($index)" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowPrize($index)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<!-- Hardware -->
                <section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Available Hardware</h4>
							<div class="collapsible-body">
								<label class="info-label blue-text">Hardware will be listed in alphabetical order</label>
								<div class="row">
									<p class="col s5">
										Amount
									</p>
									<p class="col s7">
										Type
									</p>
								</div>
								<div class="row" ng-repeat="e in data.hardware | orderBy:type">
									<div class="col s5 input-field">
										<input type="number" class="validate" min="1" step="1" ng-model="e.amount" placeholder="Amount"/>
									</div>
									<div class="col s5 input-field">
										<input type="text" ng-model="e.type" placeholder="Type"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowHardware($index)" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowHardware($index)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<section>
					<h4>Contact Information <span class="red-text">*</span></h4>
					<div class="input-field">
						<label for="contact">Who can I email if I have questions or concerns?</label>
						<input required class="validate" type="text" class="validate" id="contact" ng-model="data.contact"/>
					</div>
				</section>
				
				<pre>current_data = {{data | json}}</pre>
				<pre>master = {{master | json}}</pre>
            </form>
		</div>
		<div class="row container">
			<button class="waves-effect waves-light btn blue" ng-click="clickClear()">Clear Data</button>
			<button class="waves-effect waves-light btn red" ng-click="clickReset()">Reset Fields</button>
			<button type="submit" class ="waves-effect waves-light btn green">Submit</button>
			<button type="submit" class ="waves-effect waves-light btn yellow" ng-click="clickUpdate()">Save</button>
		</div>
    </main> 
</body>
</html>


