<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>WolfBeacon</title>

	<!-- Jquery-->

	<script defer type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

	<!--Angular-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>
	<script defer src="app/angular-local-storage.js"></script>

	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	
	<!-- Other CSS -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/imgur.css">
	<link rel="stylesheet" href="css/build.css">

	<script defer src="app/app.js"></script>

	<!--imgur -->
	<script defer type="text/javascript" src="js/imgur.min.js"></script>

</head>


<body ng-app="SponsorForm">


    <header class="clearfix">
        <!--
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
      -->
        <h2>WolfBeacon</h2>
    </header>


    <main ng-controller="FormController">
		<div class="container">
            <form novalidate class="simple-form">
				<section>
					<h4>Name of Hackathon <span class="red-text">*</span></h4>
					
					<div class="input-field">
						<label for="hack_name">Name</label>
						<input required type="text" id="hack_name" ng-model="data.hackathon_name"/>
					</div>
				</section>
				
				<section>
					<h4>Logo <span class="red-text">*</span></h4>
					<div class="dropzone">
						<img class ="upload-image" src="assets/image-add.png">
					</div>
				</section>
				
				<section>
					<h4>Type of Hackathon <span class="red-text">*</span></h4>

					<div class="input-field">
						<input type="checkbox" id="box1" class="filled-in" ng-model="data.hackathon_type.University">
						<label for="box1" class="h-type-label">University</label>
					</div>
					<div class="input-field">
						<input type="checkbox" id="box2" class="filled-in" ng-model="data.hackathon_type.Company">
						<label for="box2" class="h-type-label">Company</label>
					</div>
					<div class="input-field">
						<input type="checkbox" id="box3" class="filled-in" ng-model="data.hackathon_type.HighSchool">
						<label for="box3" class="h-type-label">High School</label>
					</div>
					<div class="input-field">
						<input type="checkbox" id="box4" class="filled-in" ng-model="data.hackathon_type.Other">
						<label for="box4" class="h-type-label">Other</label>
					</div>
                </section>

				<section>
					<h4>Date Range of Hackathon <span class="red-text">*</span></h4>

					<div class="row">
						<div class="col s6 input-field">
							<label for="start-date">Starts On</label>
							<input type="date" id="start-date" class="datepicker" name="start" ng-model="hackathon_start_date" min="2016-01-01" required />
						</div>
						<div class="col s6 input-field">
							<label for="end-date">Ends On</label>
							<input type="date" id="end-date" class="datepicker" name="end" ng-model="hackathon_end_date" min="2016-01-01" required />
						</div>
					</div>
				</section>

                <section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Timetable</h4>
							<div class="collapsible-body">
								<label class="info-label blue-text">Events will be listed in chronological order</label>
								<div class="row">
									<p class="col s2">
										Date
									</p>
									<p class="col s2">
										From
									</p>
									<p class="col s2">
										To
									</p>
									<p class="col s6">
										Event
									</p>
								</div>
								<div class="row" ng-repeat="e in data.hackathon_timetable | orderBy:from">
									<div class="col s2 input-field">
										<input type="date" class="datepicker" placeholder="Date" ng-model="e.date"/>
									</div>
									<div class="col s2 input-field">
										<input type="text" ng-model="e.from" placeholder="00:00 AM"/>
									</div>
									<div class="col s2 input-field">
										<input type="text" ng-model="e.to" placeholder="00:00 AM"/>
									</div>
									<div class="col s4 input-field">
										<input type="text" ng-model="e.event_desc" placeholder="Event"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowTimetable()" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowTimetable(e)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>

				<section>
					<h4>Location <span class="red-text">*</span></h4>
					<div class="input-field">
						<label for="location">Which city?</label>
						<input required type="text" id="location" ng-model="data.hackathon_location"/>
					</div>
				</section>
				
				<section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Venue Floor Plan</h4>
							
							<div class="collapsible-body">
								<label class="info-label blue-text">Tip: Highlight hacker spaces</label>
								<div class="dropzone">
									<img class="upload-image" src="assets/image-add.png">
								</div>
							</div>
						</li>
					</ul>
				</section>

				<section>
					<h4>Size of Hackathon <span class="red-text">*</span></h4>
					<div class="input-field">
						<label for="size">How many hackers can you accommodate?</label>
						<input required type="text" id="size" ng-model="data.hackathon_size" />
					</div>
				</section>
				
				<section>
					<h4>Description <span class="red-text">*</span></h4>
					<div class="input-field">
						<label for="description">Add a short description of your hackathon (e.g. your slogan)</label>
						<input required type="text" id="description" ng-model="data.hackathon_desc"/>
					</div>
				</section>
				
				<section>
					<h4>Do you offer travel reimbursements? <span class="red-text">*</span></h4>
					<div class="input-field">
						<input class="with-gap" name="yes" id="yes" type="radio" ng-value="true" ng-model="data.hackathon_travel" />
						<label for="yes">Yes</label>
					</div>
					<div class="input-field">
						<input class="with-gap" name="no" id="no" type="radio" ng-value="false" ng-model="data.hackathon_travel" />
						<label for="no">No</label>
					</div>
				</section>
				
				<!-- Hyperlinks -->
				<section>
					<h4>Hyperlinks</h4>
					<div class="input-field">
						<input id="website" required type="text" ng-model="data.hackathon_links.h_website" />
						<label for="website">Website <span class="red-text">*</span></label>
					</div>
					<div class="input-field">
						<input id="facebook" type="text" ng-model="data.hackathon_links.h_facebook" />
						<label for="facebook">Facebook</label>
					</div>
					<div class="input-field">
						<input id="twitter" type="text" ng-model="data.hackathon_links.h_twitter" />
						<label for="twitter">Twitter</label>
					</div>
					<div class="input-field">
						<input id="slack" type="text" ng-model="data.hackathon_links.h_slack" />
						<label for="slack">Slack</label>
					</div>
					<div class="input-field">
						<input id="medium" type="text" ng-model="data.hackathon_links.h_medium" />
						<label for="medium">Medium</label>
					</div>
					<div class="input-field">
						<input id="snapchat" type="text" ng-model="data.hackathon_links.h_snapchat" />
						<label for="snapchat">Snapchat</label>
					</div>
					<div class="input-field">
						<input id="devpost" type="text" ng-model="data.hackathon_links.h_devpost" />
						<label for="devpost">Devpost</label>
					</div>
					<div class="input-field">
						<input id="other" type="text" ng-model="data.hackathon_links.h_other" />
						<label for="other">Other</label>
					</div>
				</section>
				
				<!-- Sponsors -->
                <section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Sponsors</h4>
							<div class="collapsible-body">
								<label class="info-label blue-text">Sponsors will be listed in rank order</label>
								<div class="row">
									<p class="col s3">
										Rank
									</p>
									<p class="col s9">
										Organization
									</p>
								</div>
								<div class="row" ng-repeat="e in data.hackathon_sponsors | orderBy:rank">
									<div class="col s3 input-field">
										<input type="number" min="0" ng-model="e.rank" placeholder="Rank"/>
									</div>
									<div class="col s7 input-field">
										<input type="text" ng-model="e.organization" placeholder="Organization"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowSponsor()" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowSponsor(e)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<!-- Judges -->
                <section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Judges</h4>
							<div class="collapsible-body">
								<label class="info-label blue-text">Judges will be listed in alphabetical order</label>
								<div class="row">
									<p class="col s5">
										Name
									</p>
									<p class="col s7">
										Title
									</p>
								</div>
								<div class="row" ng-repeat="e in data.hackathon_judges | orderBy:name">
									<div class="col s5 input-field">
										<input type="text" ng-model="e.name" placeholder="Full Name"/>
									</div>
									<div class="col s5 input-field">
										<input type="text" ng-model="e.title" placeholder="Title of Judge"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowJudge()" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowJudge(e)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<!-- Prizes -->
                <section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Prizes</h4>
							<div class="collapsible-body">
								<label class="info-label blue-text">Prizes will be listed in alphabetical order</label>
								<div class="row">
									<p class="col s5">
										Name
									</p>
									<p class="col s7">
										Category
									</p>
								</div>
								<div class="row" ng-repeat="e in data.hackathon_prizes | orderBy:name">
									<div class="col s5 input-field">
										<input type="text" ng-model="e.name" placeholder="Name"/>
									</div>
									<div class="col s5 input-field">
										<input type="text" ng-model="e.category" placeholder="General / API"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowPrize()" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowPrize(e)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<!-- Hardware -->
                <section>
					<ul class="collapsible" data-collapsible="accordion">
						<li class="active">
							<h4 class="collapsible-header active"><i class="material-icons">play_arrow</i>Available Hardware</h4>
							<div class="collapsible-body">
								<label class="info-label blue-text">Hardware will be listed in alphabetical order</label>
								<div class="row">
									<p class="col s5">
										Amount
									</p>
									<p class="col s7">
										Type
									</p>
								</div>
								<div class="row" ng-repeat="e in data.hackathon_hardware | orderBy:type">
									<div class="col s5 input-field">
										<input type="text" ng-model="e.amount" placeholder="Amount"/>
									</div>
									<div class="col s5 input-field">
										<input type="text" ng-model="e.type" placeholder="Type"/>
									</div>
									<div class="col s1 row-field">
										<input class="add-row" type="image" ng-click="addRowHardware()" src="assets/plus.png">
									</div>
									<div class="col s1 row-field">
										<input class="no-row" type="image" ng-click="removeRowHardware(e)" src="assets/delete.png" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<section>
					<h4>Contact Information <span class="red-text">*</span></h4>
					<div class="input-field">
						<label for="contact">Who can I email if I have questions or concerns?</label>
						<input required type="text" id="contact" ng-model="data.hackathon_contact"/>
					</div>
				</section>
				
				<pre>current_data = {{data | json}}</pre>
				<pre>master = {{master | json}}</pre>
            </form>
		</div>
		<div class="row container">
			<button class="waves-effect waves-light btn red" ng-click="reset()">Reset</button>
			<button type="submit" class ="waves-effect waves-light btn green">Submit</button>
			<button type="submit" class ="waves-effect waves-light btn yellow" ng-click="update()">Save</button>
		</div>
    </main> 
</body>
</html>


