<html>
<head>

	<title>WolfBeacon</title>

	<!-- Jquery-->

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<!--Angular-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>
	<script src="app/app.js"></script>
	<script src="app/angular-local-storage.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

	<!--Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


	<!-- Other CSS -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/imgur.css">
	<link rel="stylesheet" href="css/build.css">


	<!--imgur -->
	<!--<link rel="stylesheet" href="imgur/imgur.min.css">-->
	<script type="text/javascript" src="imgur/imgur.min.js"></script>

</head>


<body ng-app="SponsorForm" style="background-color: #99CCFF;">


    <div class="header clearfix">
        <!--
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
      -->
        <h3 class="text-muted">OSH</h3>
    </div>


    <div class="container" ng-controller="FormController">
        <div class="jumbotron">
            <form novalidate class="simple-form">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" id = "hack_name" class = "hackathon-name input-lg" ng-model="data.hackathon_name" placeholder="Name of Hackathon"/>
                        <h4 class = "header-fix">Logo</h4>
                        <div class="dropzone">
                            <img class ="upload-image" src="assets/image-add.png">
                        </div>
                    </div>
                </div>
                <h3 class = "header-fix">Type of Hackathon</h3>

                <div>
                    <input type="checkbox" ng-model="data.hackathon_type.University">
                    <label class = "h-type-label">University</label>
                </div>
                <div>
                    <input type="checkbox" ng-model="data.hackathon_type.Company">
                    <label class = "h-type-label">Company</label>
                </div>
                <div>
                    <input type="checkbox" ng-model="data.hackathon_type.Highschool">
                    <label class = "h-type-label">Highschool</label>
                </div>
                <div>
                    <input type="checkbox" ng-model="data.hackathon_type.Other">
                    <label class = "h-type-label">Other</label>
                </div>
                <h3 class = "header-fix">Date Range of Hackathon</h3>

                <div class="row">
                    <div class="col-sm-6">
                        <label class = "h-date-label">Starts:</label>
                        <input type="date" class = "h-date" name="input" ng-model="data.hackathon_start_date" placeholder="yyyy-MM-dd" min="2016-01-01" required />
                    </div>
                    <div class="col-sm-6">
                        <label class = "h-date-label">Ends:</label>
                        <input type="date" class = "h-date" name="input" ng-model="data.hackathon_end_date" placeholder="yyyy-MM-dd" min="2016-01-01" required />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                    <!-- <img src = "assets/hidesection.png"> -->
                        <div class="col-sm-6">
                            <h3 class = "header-fix">Timetable</h3>
                        </div>
                    </div>
                </div>

                <label class="info-label">Events will be listed in chronological order</label>

                <div class="row">
                    <div class="col-sm-12">
                        Date
                        <div class = "row" ng-repeat="e in data.hackathon_timetable | orderBy:from">
                            <input type="text" class = "timetable_row_input" placeholder = "MM/DD" ng-model = "e.date"/>
                            <input type="text" class = "timetable_row_input"  placeholder = "00:00" ng-model = "e.from"/>
                            <input type="text" class = "timetable_row_input"  placeholder = "00:00" ng-model = "e.to"/>
                            <input type="text" class = "timetable_row_input"  placeholder = "Event" ng-model = "e.event_desc"/>
                            <input class="add-row" type="image" ng-click="addRow()" src="assets/plus.png" style="margin-left: -30px;">
                            <input class="no-row" type="image" ng-click="removeRow(e)" src="assets/delete.png" />
                        </div>
                    </div>
                </div>


                <h3 class = "header-fix">Location</h3>
                <input type="text" id = "loc" class = "hackathon-location input-lg" ng-model="data.hackathon_location" placeholder="Which city?"/>



                <h3 class = "header-fix">Venue Floor Plan</h3>


                <h3 class = "header-fix">Hackathon Size</h3>
                <input type="text" class = "hackathon-size input-lg" ng-model="data.hackathon_size" placeholder="How many hackers can you accomedate?"/>

                <h3 class = "header-fix">Hackathon Description</h3>
                <input type="text" class = "hackathon-desc input-lg" ng-model="data.hackathon_desc" placeholder="Add a short description of your hackathon (eg a slogan)"/>

                </br>
                </br>
                </br>
                </br>

                <input type="button" class ="btn btn-danger" ng-click="reset()" value="Reset" />
                <input type="submit" class ="btn btn-success" ng-click="update(data)" value="Submit" />
                <input type="submit" class ="btn btn-warning" value="Save" />
            </form>

            <pre>current_data = {{data | json}}</pre>
            <pre>master = {{master | json}}</pre>
        </div>


    <footer class="footer">
        <p>&copy; 2016 WolfBeacon</p>
    </footer>

    </div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>


